

p {
	font-family: helvetica;

}

body {
   margin:auto;
   height:100%;
   width:100%;
   background-image:url(copperfall.jpg);/*background image*/  
   background-repeat:no-repeat;/*one single image not a repeated one*/  
   background-size:cover;/*this sets the image to fullscreen covering the whole screen*/     
}

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; opacity: 0.7; filter: alpha(opacity=50);
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to black on hover */
li a:hover {
    background-color: #111;
}


/* css code from original plan:
/*#thumbnail {
  position: fixed;
  float: left;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-top: 10px;
  margin-left: -70px;
}*/

